name: Deploy Infra

on:
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: TODO Configure infra deployment steps
        run: echo "Add Terraform init/plan/apply steps here."
